<% events.each do |r| %>
    <li>
        <%= link_to r.contact.first_name, contact_path(r.contact) %>:
        <%= r.interaction_type %> on 
        <%= r.date.strftime("%m/%d/%y") %>
        <%= link_to "Cancel Event", contact_event_path(r.contact, r), method: :delete, data: {confirm: "Are you sure?"} if cancelable %>
    </li>
<% end %>