<%= month_calendar(attribute: :date, events: @events) do |date, events| %>
    <%= date.day %>

    <% events.each do |event| %>
        <div>
            <%= event.interaction_type %> with <%= link_to event.contact.first_name %>
            <%#= event.contact %>
        </div>
    <% end %>
<% end %>