<h1 class="title is-1">Contacts</h1>
<div class="columns">
    <div class="column is-one-third">
        <% @contacts.each do |contact| %>
            <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img src="https://www.tibs.org.tw/images/default.jpg" alt="contact profile image" class="is-rounded">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <%= link_to contact.first_name, contact_path(contact) %>
                            <br>
                            ðŸŽ‚<%= contact.birthday.strftime("%m/%d/%y") if contact.birthday %>
                            <br>
                            <%= link_to "ðŸ—‘ï¸ Delete Contact", contact_path(contact), method: :delete, data: {confirm: "Are you sure?"}, class: "button is-danger is-small is-light" %>
                        </p>
                    </div>
                </div>
            </article>
        </div>
        <% end %>
        <br>
        <%= link_to "New contact", new_contact_path, class: "button is-primary" %>
    </div>
</div>

