// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
section.homepage-container div.column {
    background-color: rgba(221, 221, 221, 0.452);
    border: 1px solid rgba(221, 221, 221, 0.61);
    border-radius: 5px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1);
    &:first-of-type {
        margin: 0 0.5rem 0.5rem 0;
    }
    &:last-of-type {
        margin: 0 0 0.5rem 0.5rem;
    }
    .contact-thumb {
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }
}